data/nodered/flows.json
[
    {
        "id": "7f69ac0c.ea2e54",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1a2ea69e.012e49",
        "type": "mqtt-broker",
        "z": "",
        "name": "broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "nodered",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "184db820.fcc528",
        "type": "mqtt in",
        "z": "7f69ac0c.ea2e54",
        "name": "ard1_input",
        "topic": "/homy/ard1/input",
        "qos": "2",
        "datatype": "json",
        "broker": "1a2ea69e.012e49",
        "x": 80,
        "y": 260,
        "wires": [
            [
                "f94543ec.c5dce",
                "d27c3aa8.3ec6d"
            ]
        ]
    },
    {
        "id": "357c5f83.e0f7b",
        "type": "mqtt out",
        "z": "7f69ac0c.ea2e54",
        "name": "ard1_output",
        "topic": "/homy/ard1/output",
        "qos": "0",
        "retain": "false",
        "broker": "1a2ea69e.012e49",
        "x": 1230,
        "y": 40,
        "wires": []
    },
    {
        "id": "1d8c052d.362f53",
        "type": "inject",
        "z": "7f69ac0c.ea2e54",
        "name": "ON",
        "topic": "",
        "payload": "{\"pin\":21,\"value\":1}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 120,
        "wires": [
            [
                "357c5f83.e0f7b"
            ]
        ],
        "icon": "node-red/light.svg"
    },
    {
        "id": "8c0cd068.fea0e8",
        "type": "inject",
        "z": "7f69ac0c.ea2e54",
        "name": "OFF",
        "topic": "",
        "payload": "{\"pin\":21,\"value\":0}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 160,
        "wires": [
            [
                "357c5f83.e0f7b"
            ]
        ],
        "icon": "node-red/light.svg"
    },
    {
        "id": "5e0006cb.1796b8",
        "type": "switch",
        "z": "7f69ac0c.ea2e54",
        "name": "2531 master bed left",
        "property": "payload.p",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "43",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "42",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 440,
        "y": 360,
        "wires": [
            [
                "29018208.31a26e"
            ],
            [
                "6a60ea05.e37f44"
            ]
        ],
        "outputLabels": [
            "left button",
            "right button"
        ],
        "icon": "font-awesome/fa-pause"
    },
    {
        "id": "f94543ec.c5dce",
        "type": "switch",
        "z": "7f69ac0c.ea2e54",
        "name": "input change",
        "property": "payload.t",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ic",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 110,
        "y": 360,
        "wires": [
            [
                "7d6bba2a.66a5f4"
            ]
        ]
    },
    {
        "id": "7d6bba2a.66a5f4",
        "type": "switch",
        "z": "7f69ac0c.ea2e54",
        "name": "onPress",
        "property": "payload.v",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 260,
        "y": 360,
        "wires": [
            [
                "5e0006cb.1796b8",
                "ba8a9bee.549488",
                "6204187a.fdcc48",
                "211c81c7.3d086e"
            ]
        ]
    },
    {
        "id": "1c94edfa.cd9c62",
        "type": "change",
        "z": "7f69ac0c.ea2e54",
        "name": "2528 master bed lamp left",
        "rules": [
            {
                "t": "set",
                "p": "payload.pin",
                "pt": "msg",
                "to": "21",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 360,
        "wires": [
            [
                "bffab49.406b148"
            ]
        ],
        "icon": "node-red/light.svg"
    },
    {
        "id": "4d713e7a.df6f5",
        "type": "inject",
        "z": "7f69ac0c.ea2e54",
        "name": "TOGGLE",
        "topic": "",
        "payload": "{\"pin\":21,\"value\":-1}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 80,
        "wires": [
            [
                "357c5f83.e0f7b"
            ]
        ],
        "icon": "node-red/light.svg"
    },
    {
        "id": "6a60ea05.e37f44",
        "type": "change",
        "z": "7f69ac0c.ea2e54",
        "name": "toggle",
        "rules": [
            {
                "t": "set",
                "p": "payload.value",
                "pt": "msg",
                "to": "-1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 360,
        "wires": [
            [
                "1c94edfa.cd9c62"
            ]
        ]
    },
    {
        "id": "bffab49.406b148",
        "type": "change",
        "z": "7f69ac0c.ea2e54",
        "name": "cleanup",
        "rules": [
            {
                "t": "delete",
                "p": "payload.p",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.v",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.t",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.l",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.i",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 100,
        "wires": [
            [
                "357c5f83.e0f7b",
                "1fd9ea88.4c1285"
            ]
        ]
    },
    {
        "id": "ba8a9bee.549488",
        "type": "switch",
        "z": "7f69ac0c.ea2e54",
        "name": "1202 office",
        "property": "payload.p",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "45",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "44",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 410,
        "y": 400,
        "wires": [
            [
                "88be9dab.000db"
            ],
            [
                "d191d2df.3e835"
            ]
        ],
        "outputLabels": [
            "left button",
            "right button"
        ],
        "icon": "font-awesome/fa-pause"
    },
    {
        "id": "31c292aa.3ec3be",
        "type": "change",
        "z": "7f69ac0c.ea2e54",
        "name": "1200 office",
        "rules": [
            {
                "t": "set",
                "p": "payload.pin",
                "pt": "msg",
                "to": "20",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1110,
        "y": 400,
        "wires": [
            [
                "bffab49.406b148"
            ]
        ],
        "icon": "node-red/light.svg"
    },
    {
        "id": "914cc6f7.11d748",
        "type": "trigger",
        "z": "7f69ac0c.ea2e54",
        "op1": "{\"value\": 1}",
        "op2": "{\"value\": 0}",
        "op1type": "json",
        "op2type": "json",
        "duration": "50",
        "extend": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "name": "pulse",
        "x": 970,
        "y": 520,
        "wires": [
            [
                "f921244e.da2ff8"
            ]
        ]
    },
    {
        "id": "f5496637.f23598",
        "type": "comment",
        "z": "7f69ac0c.ea2e54",
        "name": "Master bed left lamp",
        "info": "",
        "x": 110,
        "y": 40,
        "wires": []
    },
    {
        "id": "2dcb7c15.ce5d04",
        "type": "change",
        "z": "7f69ac0c.ea2e54",
        "name": "1100 bath 1",
        "rules": [
            {
                "t": "set",
                "p": "payload.pin",
                "pt": "msg",
                "to": "19",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1110,
        "y": 440,
        "wires": [
            [
                "bffab49.406b148"
            ]
        ],
        "icon": "node-red/light.svg"
    },
    {
        "id": "88be9dab.000db",
        "type": "trigger",
        "z": "7f69ac0c.ea2e54",
        "op1": "{\"value\": 1}",
        "op2": "{\"value\": 0}",
        "op1type": "json",
        "op2type": "json",
        "duration": "50",
        "extend": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "name": "pulse",
        "x": 970,
        "y": 560,
        "wires": [
            [
                "f7a80e88.e31d7"
            ]
        ]
    },
    {
        "id": "da3e1a29.f16fd8",
        "type": "change",
        "z": "7f69ac0c.ea2e54",
        "name": "2000 corridor 2",
        "rules": [
            {
                "t": "set",
                "p": "payload.pin",
                "pt": "msg",
                "to": "18",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 480,
        "wires": [
            [
                "bffab49.406b148"
            ]
        ],
        "icon": "node-red/light.svg"
    },
    {
        "id": "29018208.31a26e",
        "type": "trigger",
        "z": "7f69ac0c.ea2e54",
        "op1": "{\"value\": 1}",
        "op2": "{\"value\": 0}",
        "op1type": "json",
        "op2type": "json",
        "duration": "50",
        "extend": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "name": "pulse",
        "x": 970,
        "y": 480,
        "wires": [
            [
                "da3e1a29.f16fd8"
            ]
        ]
    },
    {
        "id": "6204187a.fdcc48",
        "type": "switch",
        "z": "7f69ac0c.ea2e54",
        "name": "1002 bath 1",
        "property": "payload.p",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "39",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "38",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 410,
        "y": 440,
        "wires": [
            [
                "88be9dab.000db"
            ],
            [
                "fd93126.a90d8f"
            ]
        ],
        "outputLabels": [
            "left button",
            "right button"
        ],
        "icon": "font-awesome/fa-pause"
    },
    {
        "id": "d191d2df.3e835",
        "type": "change",
        "z": "7f69ac0c.ea2e54",
        "name": "toggle",
        "rules": [
            {
                "t": "set",
                "p": "payload.value",
                "pt": "msg",
                "to": "-1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 400,
        "wires": [
            [
                "31c292aa.3ec3be"
            ]
        ]
    },
    {
        "id": "fd93126.a90d8f",
        "type": "change",
        "z": "7f69ac0c.ea2e54",
        "name": "toggle",
        "rules": [
            {
                "t": "set",
                "p": "payload.value",
                "pt": "msg",
                "to": "-1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 440,
        "wires": [
            [
                "2dcb7c15.ce5d04"
            ]
        ]
    },
    {
        "id": "f921244e.da2ff8",
        "type": "change",
        "z": "7f69ac0c.ea2e54",
        "name": "1400 kitchen",
        "rules": [
            {
                "t": "set",
                "p": "payload.pin",
                "pt": "msg",
                "to": "17",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1110,
        "y": 520,
        "wires": [
            [
                "bffab49.406b148"
            ]
        ],
        "icon": "node-red/light.svg"
    },
    {
        "id": "f7a80e88.e31d7",
        "type": "change",
        "z": "7f69ac0c.ea2e54",
        "name": "1000 corridor 1",
        "rules": [
            {
                "t": "set",
                "p": "payload.pin",
                "pt": "msg",
                "to": "16",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 560,
        "wires": [
            [
                "bffab49.406b148"
            ]
        ],
        "icon": "node-red/light.svg"
    },
    {
        "id": "b5ae42d0.0275a",
        "type": "change",
        "z": "7f69ac0c.ea2e54",
        "name": "toggle",
        "rules": [
            {
                "t": "set",
                "p": "payload.value",
                "pt": "msg",
                "to": "-1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 600,
        "wires": [
            [
                "63561875.095658"
            ]
        ]
    },
    {
        "id": "63561875.095658",
        "type": "change",
        "z": "7f69ac0c.ea2e54",
        "name": "hall",
        "rules": [
            {
                "t": "set",
                "p": "payload.pin",
                "pt": "msg",
                "to": "15",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 600,
        "wires": [
            [
                "bffab49.406b148"
            ]
        ],
        "icon": "node-red/light.svg"
    },
    {
        "id": "1614c3b.4f9653c",
        "type": "change",
        "z": "7f69ac0c.ea2e54",
        "name": "1300 living room",
        "rules": [
            {
                "t": "set",
                "p": "payload.pin",
                "pt": "msg",
                "to": "69",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 640,
        "wires": [
            [
                "bffab49.406b148"
            ]
        ],
        "icon": "node-red/light.svg"
    },
    {
        "id": "ce929fca.22a48",
        "type": "trigger",
        "z": "7f69ac0c.ea2e54",
        "op1": "{\"value\": 1}",
        "op2": "{\"value\": 0}",
        "op1type": "json",
        "op2type": "json",
        "duration": "50",
        "extend": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "name": "pulse",
        "x": 970,
        "y": 640,
        "wires": [
            [
                "1614c3b.4f9653c"
            ]
        ]
    },
    {
        "id": "3a50707.3d5719",
        "type": "inject",
        "z": "7f69ac0c.ea2e54",
        "name": "toggle living",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 330,
        "y": 40,
        "wires": [
            [
                "ce929fca.22a48"
            ]
        ]
    },
    {
        "id": "211c81c7.3d086e",
        "type": "switch",
        "z": "7f69ac0c.ea2e54",
        "name": "P4 veranda 1",
        "property": "payload.p",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "40",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "41",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 410,
        "y": 480,
        "wires": [
            [
                "ce929fca.22a48",
                "b5ae42d0.0275a"
            ],
            [
                "9d9aea0b.9c5a4"
            ]
        ],
        "outputLabels": [
            "left button",
            "right button"
        ],
        "icon": "font-awesome/fa-pause"
    },
    {
        "id": "d27c3aa8.3ec6d",
        "type": "debug",
        "z": "7f69ac0c.ea2e54",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 290,
        "y": 260,
        "wires": []
    },
    {
        "id": "9d9aea0b.9c5a4",
        "type": "change",
        "z": "7f69ac0c.ea2e54",
        "name": "toggle",
        "rules": [
            {
                "t": "set",
                "p": "payload.value",
                "pt": "msg",
                "to": "-1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 680,
        "wires": [
            [
                "3944e844.0a1078"
            ]
        ]
    },
    {
        "id": "3944e844.0a1078",
        "type": "change",
        "z": "7f69ac0c.ea2e54",
        "name": "veranda",
        "rules": [
            {
                "t": "set",
                "p": "payload.pin",
                "pt": "msg",
                "to": "62",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 680,
        "wires": [
            [
                "bffab49.406b148"
            ]
        ],
        "icon": "node-red/light.svg"
    },
    {
        "id": "1fd9ea88.4c1285",
        "type": "debug",
        "z": "7f69ac0c.ea2e54",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1230,
        "y": 100,
        "wires": []
    },
    {
        "id": "b50743de.23004",
        "type": "switch",
        "z": "7f69ac0c.ea2e54",
        "name": "cmd",
        "property": "payload.cmd",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "toggle",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 210,
        "y": 740,
        "wires": [
            [
                "72d4e837.cf25a8"
            ]
        ]
    },
    {
        "id": "dbee9590.e7a458",
        "type": "mqtt in",
        "z": "7f69ac0c.ea2e54",
        "name": "logic",
        "topic": "/homy/logic",
        "qos": "2",
        "datatype": "json",
        "broker": "1a2ea69e.012e49",
        "x": 70,
        "y": 740,
        "wires": [
            [
                "b50743de.23004",
                "1b584eee.e03ad1"
            ]
        ]
    },
    {
        "id": "1b584eee.e03ad1",
        "type": "debug",
        "z": "7f69ac0c.ea2e54",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 170,
        "y": 800,
        "wires": []
    },
    {
        "id": "72d4e837.cf25a8",
        "type": "switch",
        "z": "7f69ac0c.ea2e54",
        "name": "",
        "property": "payload.pin",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "18",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "17",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "16",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "69",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 400,
        "y": 740,
        "wires": [
            [
                "29018208.31a26e"
            ],
            [
                "914cc6f7.11d748"
            ],
            [
                "88be9dab.000db"
            ],
            [
                "ce929fca.22a48"
            ]
        ]
    },
    {
        "id": "e9fe2ff2.d558c",
        "type": "inject",
        "z": "7f69ac0c.ea2e54",
        "name": "toggle corridor 2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 340,
        "y": 160,
        "wires": [
            [
                "29018208.31a26e"
            ]
        ]
    },
    {
        "id": "a6393678.14ae58",
        "type": "inject",
        "z": "7f69ac0c.ea2e54",
        "name": "toggle kitchen",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 330,
        "y": 80,
        "wires": [
            [
                "914cc6f7.11d748"
            ]
        ]
    },
    {
        "id": "8831c285.c813b",
        "type": "inject",
        "z": "7f69ac0c.ea2e54",
        "name": "toggle corridor 1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 340,
        "y": 120,
        "wires": [
            [
                "88be9dab.000db"
            ]
        ]
    }
]