data/nodered/flows.json
[{"id":"7f69ac0c.ea2e54","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1a2ea69e.012e49","type":"mqtt-broker","z":"","name":"broker","broker":"broker","port":"1883","clientid":"nodered","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"184db820.fcc528","type":"mqtt in","z":"7f69ac0c.ea2e54","name":"ard1_input","topic":"/homy/ard1/input","qos":"2","datatype":"json","broker":"1a2ea69e.012e49","x":210,"y":140,"wires":[["d1590503.656708","5c33237a.a6628c"]]},{"id":"357c5f83.e0f7b","type":"mqtt out","z":"7f69ac0c.ea2e54","name":"ard1_output","topic":"/homy/ard1/output","qos":"0","retain":"false","broker":"1a2ea69e.012e49","x":650,"y":140,"wires":[]},{"id":"16840608.add49a","type":"mqtt in","z":"7f69ac0c.ea2e54","name":"","topic":"/homy/ard1/status","qos":"2","datatype":"json","broker":"1a2ea69e.012e49","x":260,"y":240,"wires":[["d0a8b37f.6c691"]]},{"id":"d0a8b37f.6c691","type":"debug","z":"7f69ac0c.ea2e54","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":480,"y":260,"wires":[]},{"id":"d1590503.656708","type":"function","z":"7f69ac0c.ea2e54","name":"toggle_outputs","func":"if (msg.payload.t === 'ic') {\n    switch (msg.payload.p) {\n        case 22:\n        case 30:\n        case 38:\n            return { payload: {pin: 14, value: msg.payload.v} }\n    }\n}\n","outputs":1,"noerr":0,"x":450,"y":140,"wires":[["357c5f83.e0f7b"]]},{"id":"5c33237a.a6628c","type":"debug","z":"7f69ac0c.ea2e54","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":420,"y":60,"wires":[]}]